* {
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid black;
    width: 100%;
    height: auto;
}
.top{
    width: 100%;
    height: auto;
    background: #014a95;
}
.header{
    width: 1200px;
    height: 170px;
    margin: 0 auto;
   /* border: 1px solid red;!*边框 1个像素 实线 红色*!*/
}
.logo{
    width: 398px;
    height: 94px;
    margin-top: 38px;
    float: left;
}
.search-box{
    width: 785px;
    height: 170px;
    float: right;
    background: url("../img/xy_topBG.png") no-repeat;
    padding-top: 40px;
}
.small-nav-ul{
    list-style: none;
    float: right;
    width: 386px;
    height: 19px;
}
.small-nav-ul li{
    float: left;
    width: 65px;
    height: 19px;
    margin-left: 12px;
}
.small-nav-ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.nav-box{
    width: 1200px;
    height: 40px;
    border: 1px solid red;
    margin: 0 auto;
}